@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Outfit&family=Overpass&family=Poppins&family=Space+Grotesk&display=swap');

#root {
  background-color:  #131518;
  height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.star{ 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-left: 32px;
  width: 55px;
  height: 55px;
  border-radius:50%;
  background-color: #262E38;
}
.box{
  width: 51px;
  height: 51px;
  background-Color: #262E38;
  border-radius: 50%;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: "Overpass";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #7C8798;       
}
.box:hover{
  background-color: #FC7614;
  color: #FFFFFF;
  cursor: pointer;
}

.submit{
    width: 341px;
    height:45px;
    margin-top: 20px;
    background-color:#FC7614;
    border-radius:22px;
    border:none;
    font-family: 'Overpass';
    font-weight: 700;
    font-size: 15px;
    line-height:9px;
    color: #FFFFFF;
    margin-left:32px;
  }
  .submit:hover{
    background-color: white;
    color: #FC7614;
    cursor: pointer; 
 }

 .image{
  margin-top: 45px;
  margin-left: 121px;
 }
 .fourout{
  width: 193px;
  height: 32px;
  border-radius: 22px;
  border: none;
  margin-top: 30px;
  margin-left: 110px;
  background-color: #262E38;
  color: #FC7614;
  font-family: 'Overpass';
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
 }
 .thanks{
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  margin-left: 135px;
  margin-top: 35px;
  color: #FFFFFF;
 }
 .time{
  width: 340px;
  height: 72px;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #969FAD;
  margin-left: 32px;
 }

 @media(max-width:375px){
  #root {
    width: 100vw;
    height: 667px;
  }
  .main{
    width: 327px;
    height: 360px;
    margin-top: 154px;
    margin-left: 24px;
  }
 }